@font-face {
    font-family: Inter;
    src: url(https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap);
}

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 10pt;
}


.content {
    margin: auto;
}

h1 {
    font-weight: 700;
    font-size: 3.5em;
    color: purple;
}

h3 {
   font-size: 1.05em; 
}

.subheader {
    font-size: 0.8em;
    color: lightgray;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    min-height: 100%;
    min-width: 15%;
    position: relative;
    float: left;
}

.experience, .education, .skills {
    display: flex;
    margin-bottom: 5px;
}


/* INTRO */

.intro {
    margin: 30px 0 50px 0;
}

#name {
    margin-bottom: 10px;
}

#job-title {
    font-size: 1.3em;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0px;
}

.personal-info {
    display: flex;
    margin: 0;
    color: gray;
    margin-top: 0;
    font-size: 0.9em;
}

.personal-info > p {
    padding-right: 30px;
}

#statement {
    color: gray;
    font-size: 1em;
    margin-top: 0px;
}


/* EDUCATION & EXPERIENCE */

.experience-item {
    margin-bottom: 10px;
}

.dates {
    color: gray;
    font-size: 0.9em;
    margin-top: -10px;
}

.company {
    font-weight: 300;
}

.company::before {
    content: " ";
    margin-right: 5px;
}

.location {
    color: gray;
    font-size: 0.9em;
    margin-top: -10px;
}


/* SKILLS */

.skills-content {
    width: 100%;
}

.skill-category {
    display: flex;
    margin-bottom: -15px;
}

.skill-list {
    margin-top: 15px;
    margin-left: 20px;
    width: 100%;
}